<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabits.mapper.ConsumeSignMapper">

    <!-- 自定义返回结果集 -->
    <resultMap id="consumeSignMap" type="com.terabits.meta.po.ConsumeSignPO">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="openId" column="openid" javaType="java.lang.String"></result>
        <result property="signHistory" column="signhistory" javaType="java.lang.Long"></result>
        <result property="exchangeHistory" column="exchangehistory" javaType="java.lang.Long"></result>
        <result property="signCount" column="signcount" javaType="java.lang.Integer"></result>
        <result property="gmtCreate" column="gmtcreate" javaType="java.lang.String"></result>
        <result property="gmtModified" column="gmtmodified" javaType="java.lang.String"></result>
    </resultMap>

    <insert id="insertConsumeSign" parameterType="com.terabits.meta.po.ConsumeSignPO">
        insert into consumesign (openid, signhistory, exchangehistory, signcount, gmtcreate, gmtmodified)
        values (#{openId}, #{signHistory}, #{exchangeHistory}, #{signCount}, now(), now())
    </insert>

    <update id="updateConsumeSign" parameterType="com.terabits.meta.po.ConsumeSignPO">
        update consumesign set signhistory = #{signHistory}, exchangehistory = #{exchangeHistory}, signcount = #{signCount}, gmtmodified = now() where openid = #{openId}
    </update>

    <select id="selectConsumeSign" parameterType="String" resultMap="consumeSignMap">
        select * from consumesign where openid = #{openId}
    </select>

    <update id = "resetConsumeSign">
        update consumesign set signhistory = 0, exchangehistory = 0, signcount = 0, gmtmodified = '2017-10-10 00:00:01'
    </update>

</mapper>

