<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terabits.mapper.MedalExchangeMapper">

    <!-- 自定义返回结果集 -->
    <resultMap id="medalExchangeMap" type="com.terabits.meta.po.MedalExchangePO">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="openId" column="openid" javaType="java.lang.String"></result>
        <result property="exchange" column="exchange" javaType="java.lang.String"></result>
        <result property="gmtCreate" column="gmtcreate" javaType="java.lang.String"></result>
        <result property="gmtModified" column="gmtmodified" javaType="java.lang.String"></result>
    </resultMap>

    <insert id="insertMedalExchange" parameterType="com.terabits.meta.po.MedalExchangePO">
        insert into medalexchange (openid, exchange, gmtcreate, gmtmodified)
        values (#{openId}, #{exchange}, now(), now())
    </insert>

    <select id="selectMedalExchange" resultMap="medalExchangeMap">
        select * from medalexchange
        <where>
            <if test="openId != null and openId!=''">
                and openid = #{openId}
            </if>
            <if test="timeSpanBO.beginTime != null and timeSpanBO.beginTime != ''">
                and gmtcreate >= #{timeSpanBO.beginTime}
            </if>
            <if test="timeSpanBO.endTime != null and timeSpanBO.endTime != ''">
                and gmtcreate &lt; #{timeSpanBO.endTime}
            </if>
        </where>
    </select>


</mapper>

