<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.terabits.mapper.UserMapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="userMap" type="com.terabits.meta.po.UserPO">
        <id property="id" column="id" javaType="java.lang.Integer"></id>
        <result property="openId" column="openid" javaType="java.lang.String"></result>
        <result property="nickname" column="nickname" javaType="java.lang.String"></result>
        <result property="phone" column="phone"  javaType="java.lang.String"></result>
        <result property="remain" column="remain" javaType="java.lang.Double"></result>
        <result property="sex" column="sex" javaType="java.lang.Integer"></result>
        <result property="language" column="language" javaType="java.lang.String"></result>
        <result property="city" column="city" javaType="java.lang.String"></result>
        <result property="province" column="province" javaType="java.lang.String"></result>
        <result property="country" column="country" javaType="java.lang.String"></result>
        <result property="headImgUrl" column="headimgurl" javaType="java.lang.String"></result>
        <result property="gmtCreate" column="gmtcreate" javaType="java.lang.String"></result>
        <result property="gmtModified" column="gmtmodified" javaType="java.lang.String"></result>
    </resultMap>

    <resultMap id="firstPageUserMap" type="com.terabits.meta.bo.WeixinUserBO">
        <result property="phone" column="phone" javaType="java.lang.String"></result>
        <result property="language" column="language" javaType="java.lang.String"></result>
    </resultMap>

    <insert id="insertUser" parameterType="com.terabits.meta.po.UserPO" keyProperty="id">
        insert into user (openid, nickname, phone, remain, sex, language, city, province, country, headimgurl, gmtcreate, gmtmodified) values
        (#{openId}, #{nickname}, #{phone}, #{remain}, #{sex}, #{language}, #{city}, #{province}, #{country}, #{headImgUrl}, now(),now())
    </insert>

    <update id="updateInfo" parameterType="com.terabits.meta.po.UserPO" keyProperty="id">
        update user set nickname = #{nickname}, sex = #{sex}, language = #{language}, city = #{city}, province = #{province}, country = #{country},
        headimgurl = #{headImgUrl}, gmtmodified = now() where openid = #{openId}
    </update>

    <update id="updateRemain">
        update user set remain = #{remain}, gmtmodified = now() where openid = #{openId}
    </update>

    <update id="updatePhone" parameterType="java.lang.String">
        update user set phone = #{phone}, gmtcreate = now(), gmtmodified = now() where openid = #{openId}
    </update>


    <select id="selectUser" parameterType="java.lang.String" resultMap="userMap">
        select * from user where openid = #{openId}
    </select>

    <select id="userRegistered" parameterType="java.lang.String" resultMap="firstPageUserMap">
        select phone, language from user where openid = #{openId}
    </select>

</mapper>