@charset "utf-8"
<style>
body{}

/* 信息显示区域 */
.infor{
	width:94%;
	border: none;
	background-color: white;
	text-align: left;
	font-size: 0.5rem;
	margin-top: 0.25rem;
	color: rgb(97, 97, 97);
	padding: 0.35rem;
	overflow: hidden;
	white-space: nowrap;
}


/* 1.2元充值按钮未选中样式 */
.moneybutton{
	font-size: 0.4rem;
	color: white;
	width: 35%;
	height: auto;
	background-color: rgb(78, 135, 242);
	text-align: center;
	border: none;
	-moz-border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
	border-radius: 0.2rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-right: 0;
	padding-left: 0;
	margin-top: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.moneybuttonbox{
	display: inline-flex;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}



/* 充值按钮样式 */
#recharge{
	width: 6rem;
    color: white;
    font-size: 0.65rem;
    text-align: center;
    background-color: rgb(37, 109, 243);
    border: none;
    outline: none;
    padding: 0.2rem;
    border-radius: 3rem;
    margin-top: 0.5rem;
    height: auto;
    box-shadow: 0.15rem 0.15rem 0.15rem #999999;
}

/* 底部文字样式 */
#bottombar{
	text-align:center;
	position:absolute;
	bottom:0.2rem;
	color: rgb(136,136,136);
	font-size: 0.25rem;
}
</style>