@charset "utf-8"
<style>
body{}

/* 信息显示区域 */
.infor{
	width:94%;
	border: none;
	background-color: white;
	text-align: left;
	font-size: 0.5rem;
	margin-top: 0.25rem;
	color: rgb(97, 97, 97);
	padding: 0.35rem;
	overflow: hidden;
	white-space: nowrap;
}


/* 1.2元充值按钮未选中样式 */
.moneybutton{
	font-size: 0.4rem;
	color: white;
	width: 35%;
	height: auto;
	background-color: rgb(78, 135, 242);
	text-align: center;
	border: none;
	-moz-border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
	border-radius: 0.2rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-right: 0;
	padding-left: 0;
	margin-top: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.moneybuttonbox{
	display: inline-flex;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}



/* 充值按钮样式 */
#recharge{
	width: 6rem;
    color: white;
    font-size: 0.65rem;
    text-align: center;
    background-color: rgb(37, 109, 243);
    border: none;
    outline: none;
    padding: 0.2rem;
    border-radius: 3rem;
    margin-top: 0.5rem;
    height: auto;
    box-shadow: 0.15rem 0.15rem 0.15rem #999999;
}

.paymenttypebox{
    width: 100%;
    height: 0.35rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 0.4rem;
}

.paymenttype{
    width: 23%; 
    line-height: 0.8rem;
    font-size: 0.35rem;
    display: inline-block;
    display: inline-flex;
    align-items: center;
}

/* 底部文字样式 */
#bottombar{
	text-align:center;
	position:absolute;
	bottom:0.2rem;
	color: rgb(136,136,136);
	font-size: 0.25rem;
}

/* 等待框 */
.wait{
    height:100%;
    width:100%;
    position:absolute;
    z-index:1;
    font-size: 0.5rem;
    text-align: center;
    background-color: rgba(230 ,230, 230, 0.92);
    top: 0;
}

.waitbox{
    position: absolute;
    bottom: 40%;
    background-color: transparent;
    font-size: 0.4rem;
    width: 100%;
}

.loadEffect{
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 40%;left: 50%;-webkit-transform: translate(-40%, -50%);-moz-transform: translate(-40%, -50%);-ms-transform: translate(-40%, -50%);-o-transform: translate(-40%, -50%);transform: translate(-40%, -50%);
        }

        .loadEffect span{
            display: inline-block;
            width: 0.23rem;
            height: 0.23rem;
            border-radius: 50%;
            background: rgb(37, 109, 243);
            position: absolute;
            -webkit-animation: load 1.04s ease infinite;
        }
        @-webkit-keyframes load{
            0%{
                opacity: 1;
            }
            100%{
                opacity: 0.2;
            }
        }
        .loadEffect span:nth-child(1){
            left: 0;
            top: 50%;
            margin-top:-0.16rem;
            -webkit-animation-delay:0.13s;
        }
        .loadEffect span:nth-child(2){
            left: 0.28rem;
            top: 0.28rem;
            -webkit-animation-delay:0.26s;
        }
        .loadEffect span:nth-child(3){
            left: 50%;
            top: 0;
            margin-left: -0.16rem;
            -webkit-animation-delay:0.39s;
        }
        .loadEffect span:nth-child(4){
            top: 0.28rem;
            right: 0.28rem;
            -webkit-animation-delay:0.52s;
        }
        .loadEffect span:nth-child(5){
            right: 0;
            top: 50%;
            margin-top:-0.16rem;
            -webkit-animation-delay:0.65s;
        }
        .loadEffect span:nth-child(6){
            right: 0.28rem;
            bottom: 0.28rem;
            -webkit-animation-delay:0.78s;
        }
        .loadEffect span:nth-child(7){
            bottom: 0;
            left: 50%;
            margin-left: -0.16rem;
            -webkit-animation-delay:0.91s;
        }
        .loadEffect span:nth-child(8){
            bottom: 0.28rem;
            left: 0.28rem;
            -webkit-animation-delay:1.04s;
        }
        .loadEffect div{
        	width: 2rem;
        	height: 2rem;
        	margin-top: 0.6rem;
    		margin-left: -0.04rem;
        }
</style>