@charset "utf-8"
<style>
body{}

/* “扫描二维码”div样式 */
#RQbox {
	line-height:0.3rem;
	width:100%;
	color:black;
	text-align:center;
	/*background-color: rgba(239, 241, 122, 0.3);*/
}

/* “扫描二维码”按钮样式 */
#RQ {
	width: 100%;
	color: black;
	font-size: 2em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	margin-top: 10px;
	padding:0;
}

/* “手动输入”div样式 */
#number {
	height: auto;
	line-height: 0.3rem;
	color: rgb(172,227,221);
	font-size:1.5em;
	text-align:center;
	margin-top:7%;
	font-weight: bold;
}

#code {
	height: auto;
	line-height: 0.3rem;
	color: rgb(172,227,221);
	font-size:1.5em;
	text-align:center;
	margin-top:7%;
	font-weight: bold;
}

#id{
	border: none;
	outline: none;
	background: transparent;
	text-align: center;
	font-size: 1.3em;
	height: auto;
	border-bottom: 1px solid #aedbcd;
	width: 60%;
	margin-left: 20%;
	height: 0.37rem;
	line-height: 0.37rem;
	-webkit-box-shadow:none;
	-webkit-transition: none;
	color: white;
}

#watermachine{
	border: none;
	outline: none;
	background: transparent;
	text-align: center;
	font-size: 1.3em;
	height: auto;
	border-bottom: 1px solid #aedbcd;
	width: 60%;
	margin-left: 20%;
	height: 0.37rem;
	line-height: 0.37rem;
	-webkit-box-shadow:none;
	-webkit-transition: none;
	color: white;
}

/* 开始使用按钮样式 */
#login{
	width: 60%;
	height: 0.4rem;
	background-color: transparent;
	text-align: center;
	outline: none;
	border:solid 2px #aedbcd;
	font-size: 1.1em;
	color: white;
	border-radius: 10px;
}

#login:focus{
	width: 60%;
	height: 0.4rem;
	background-color: transparent;
	text-align: center;
	outline: none;
	border:solid 2px #aedbcd;
	font-size: 1.1em;
	color: white;
	border-radius: 10px;
}

#register{
	width: 60%;
	height: 0.4rem;
	background-color: transparent;
	text-align: center;
	outline: none;
	border:solid 2px #aedbcd;
	font-size: 1.1em;
	color: white;
	border-radius: 10px;
}

#register:focus{
	width: 60%;
	height: 0.4rem;
	background-color: transparent;
	text-align: center;
	outline: none;
	border:solid 2px #aedbcd;
	font-size: 1.1em;
	color: white;
	border-radius: 10px;
}
</style>