@charset "utf-8"
<style>
body{}

/* 广告图页div样式 */
#toppicture{
	width: 8.5rem; 
	height: 7.493rem;
	margin-top: 0.5rem;
}

#toppicture  ul li img {
	border: none;
}


.iSlider-effect {
  height: 310.5px;
  width: 225px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: none;
}

.iSlider-effect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.iSlider-effect li {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}
.iSlider-effect ul li img{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.iSlider-effect div{
  background-color: #ffffff;
  padding: 3px;
}


/* “扫描二维码”按钮样式 */	
.RQ {
    width: 6rem;
    color: white;
    font-size: 0.65rem;
    text-align: center;
    background-color: rgb(37, 109, 243);
    border: none;
    outline: none;
    padding: 0.2rem;
    border-radius: 3rem;
    margin-top: 1rem;
    height: auto;
    box-shadow: 0.15rem 0.15rem 0.15rem #999999;
}

/* 底部文字样式 */
#bottombar{
	text-align:center; 
	position:absolute;
	bottom:0.2rem;
	color: rgb(136,136,136);
	font-size: 0.25rem;
}

/* “手动输入”button样式 */	
#opennumber{
	outline: none;
	border: none;
	border-bottom: 2px solid rgb(136, 136,136);
	background-color: transparent;
	width: 4rem;
	height: 0.4rem;
}


/* “手动输入”弹出框样式 */	
#numberbox{
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 1;
	height: 100%; 
	width: 100%; 
	background-color: rgba(136 ,136, 136, 0.5);
}

#number {
	position: absolute;
	top: 20%;left: 50%;-webkit-transform: translate(-50%, -20%);-moz-transform: translate(-50%, -20%);-ms-transform: translate(-50%, -20%);-o-transform: translate(-50%, -20%);transform: translate(-50%, -20%);
	height: 4.5rem;
	width: 7.5rem;
	background-color: white;
	text-align: center;
	font-size: 0.45rem;
	padding-top: 0.5rem;
	}

#id{
	border: 1px solid rgb(136, 136, 136);
    outline: none;
    background: transparent;
    text-align: center;
    font-size: 0.5rem;
    width: 4rem;
    height: auto;
    padding: 0.1rem; 
    margin-top: 0.5rem;
}

.idbutton{
	border: none;
	border-top: 1px solid rgb(136, 136, 136);
	position: absolute;
	bottom: 0;
	width: 3.75rem;
	background-color: transparent;
	font-size: 0.5rem;
	border-radius: 0;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	color: black;
}

/* “我的账户”样式 */	
#menubutton{
	position:absolute; 
	bottom:0.4rem; 
	left:0px;
	outline: none;
	border: none;
	padding: 0;
	background-image: url(/watermachine/static/pic/account.png);
	background-size: 100% 100%;
	height: 1rem;
	width: 1.43rem;
}

#menu{
	height: 100%;
	width: 40%; 
	top: 0;
	background-color: rgb(250, 250, 250);
	position: absolute;
	left: -40%; 
	z-index: 1;
	color: rgb(123,123,123);
	display: flex;flex-direction: column;align-items: center;
}

#closemenudiv{
	height: 100%; 
	width: 60%; 
	position: absolute;
	right: 0; 
	top: 0;
	display: none;
}

/* 一级菜单按钮样式 */
.menu_1{
	width: 100%;
	border: none; 
	outline: none; 
	height: 10%;
	padding: 0; 
	width: auto;
	text-align: left;
	font-size: 0.37rem;
	background-color: transparent;
}

.closemenu{
	border: none; 
	outline: none; 
	background-color: transparent;
	font-size: 0.35rem;
	margin-top: 1rem;
}


/* 二级菜单-取水记录div样式 */
.recordcontent{
	width: 9.5rem; 
	height: 1.6rem; 
	background-color: white;
	margin: 0.1rem;
	padding: 0.2rem;
	font-size: 0.35rem;
}

/* 二级菜单-我的钱包div样式 */
#walletbox{
	height: 100%;
	width: 100%; 
	top: 0;
	background-color: rgb(250, 250, 250);
	position: absolute;
	left: 0%; 
	color: rgb(123,123,123);
	font-size: 0.5rem;
	text-align: center;
	z-index: 1;
}

#balance{
	background-image: url(/watermachine/static/pic/balancepic.png);
	background-size: 100% 100%;
	width: 100%;
	height: 50%;
	font-size: 1.4rem;
	color: black;
	display: flex;flex-direction: column;align-items: center;justify-content: center;
}

/* 二级菜单-我的客服div样式 */
#email{
	outline: none;
	width: 9rem;
	border: 1px solid rgb(136, 136, 136);
	border-radius: 0.25rem;
	padding: 0.3rem; 
	padding-left: 2rem; 
	margin-top: 0.2rem
}

#suggestion{
	outline: none;
	width: 9rem;
	height: 7rem;
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: 1px solid rgb(136, 136, 136);
	margin-top: 0.2rem;
}

#suggestionbutton{
	width: 8.7rem;
    color: white;
    font-size: 0.5rem;
    text-align: center;
    background-color: rgb(37, 109, 243);
    border: none;
    outline: none;
    padding: 0.2rem;
    border-radius: 3rem;
    margin-top: 1rem;
    height: auto;
    box-shadow: 0.15rem 0.15rem 0.15rem #999999;
}

</style>